<h2>Your Groups</h2>
<ul>
	<% var current_group = 'foo' %>
	<% groupData.forEach(function(group) { %>
		<% if (current_group == group.group_name && current_group != 'foo') { %>
			<li><%= group.first_name %> <%= group.last_name %></li>
		<% } else if (current_group == 'foo') { %>
			<% current_group = group.group_name %>
			<li><strong><%= group.group_name %></strong><ul>	
				<li><%= group.first_name %> <%= group.last_name %></li>
		<% } else { %>
				</ul>
			</li>
			<% current_group = group.group_name %>
			<li><strong><%= group.group_name %></strong><ul>	
				<li><%= group.first_name %> <%= group.last_name %></li>
		<% } %>
	
	<% }) %>
</ul>

<hr />
<ul>
	<li><a href="/status">Give Status</a></li>
	<li><a href="/status/user/<%= current_user.id %>">View Your Status</a></li>
</ul>
