<% if (flash.error) { %>
<div><%=flash.error%></div>
<% } %>
<% if (flash.success) { %>
<div><%=flash.success%></div>
<% } %>
<h1>Status</h1>
	<% if (userStatus.length == 0) { %>	
		<form method="post" action="/status">
		<input type="hidden" name="user_status[user_id]" value="<%= current_user.id %>" />
		<h1>Hi <%= current_user.first_name%> <%= current_user.last_name%>,</h1>
		<p>
		<strong>What do you want to do next week?</strong><br />
		<p>
		<p>
		<textarea name="user_status[predicted_status]" id="predicted_status"></textarea>	
		</p>	
		
		<input type="reset" name="reset" id="reset" value="Reset Form" />
		<input type="submit" name="submit" id="submit" value="Submit Status" />
		</form>
		
	<% } else { %>
		<form method="post" action="/status">
		<input type="hidden" name="user_status[user_id]" value="<%= userStatus[0].user_id %>" />
		<h1>Hi <%= current_user.first_name%> <%= current_user.last_name%>,</h1>
		<p>Last week (<%= userStatus[0].date %>) you said you'd like to <br /> <em>"<%= userStatus[0].predicted_status %>"</em>.<br /> <strong>Did this get done?</strong>
		</p>
		<p>
		<textarea name="user_status[completed_status]" id="completed_status"></textarea>	
		</p>
		<p>
		<strong>What do you want to do next week?</strong><br />
		<p>
		<p>
		<textarea name="user_status[predicted_status]" id="predicted_status"></textarea>	
		</p>	
		<input type="reset" name="reset" id="reset" value="Reset Form" />
		<input type="submit" name="submit" id="submit" value="Submit Status" />
		
		</form>	
	<% } %>
