<% if (flash.error) { %>
<div><%=flash.error%></div>
<% } %>
<% if (flash.success) { %>
<div><%=flash.success%></div>
<% } %>



<% if (statusInfo.hasStatus) { %>	

	<ul>
	<% statusInfo.keys.forEach(function(item) { %>
		<li>
			<strong><%= item %></strong>
			<ul>
				<li>
					<strong>Predicted Status</strong>
					<ul>	
						<% statusInfo[item].forEach(function(single_status) { %>
							<li><%= single_status['predicted_status'] %></li>
						<% }) %>
					</ul>
				</li>
				<li>
					<strong>Completed Status</strong>
					<ul>	
						<% statusInfo[item].forEach(function(single_status) { %>
							<li><%= single_status['completed_status'] %></li>
						<% }) %>
					</ul>
				</li>
			</ul>
		</li>
	<% }) %>
	<ul>
<% } else { %>

	<strong>You do not have sufficient privileges to access this user's status.</strong>
<% } %>
