<% if (flash.error) { %>
<div><%=flash.error%></div>
<% } %>
<% if (flash.success) { %>
<div><%=flash.success%></div>
<% } %>


<% if (statusInfo.length == 0) { %>	

	<h1><%= statusInfo[0].first_name %> <%= statusInfo[0].last_name %> currently has no statuses in the database</h1>

<% } else { %>
	<h1><%= statusInfo[0].first_name %> <%= statusInfo[0].last_name %> Statuses</h1>

	<% statusInfo.forEach(function(item) { %>
		<h2>Date:</h2>
		<p>
			<% var pretty_date = new Date(item.date) %>
			<%= pretty_date.getMonth() + 1  %>/<%= pretty_date.getDate() %>/<%=pretty_date.getFullYear() %>
		</p>
		<h2>Completed Status:</h2>
		<p>
			<%= item.completed_status %>
		</p>
		<h2>Predicted Status:</h2>
		<p>
			<%= item.predicted_status %>
		</p>
	<% }) %>
<% } %>
